---
blog_title: AustinTaylor.org
author: Austin Taylor

twitter_user: austintaylor
tweet_count: 10
show_replies: false

delicious_user: 
delicious_count: 3

full_url: http://austintaylor.org
disqus_short_name: austintaylor

google_custom_search_id:
google_analytics_tracking_id: UA-12850208-1

---

!!! 1.1 Transitional
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en")

  = include "head.haml"
  %body(id="#{(page.respond_to?(:body_id) ? page.body_id : nil)}")
    #header= include "header.haml"
    #page
      #content
        #main
          .content= preserve rp(content)
        #sidebar= include "sidebar.haml"
    = include "footer.haml"
