.article
  .meta
    = page.date.strftime("%m/%d/%Y")
    = (page.respond_to?(:updated) && page.updated) ? " | upated: #{page.updated}" : ''
  %h2= page.title
  = preserve rp(content)
  #disqus_thread= include "disqus_thread.haml" if page.respond_to?(:disqus_short_name) && page.disqus_short_name
